/* https://www.w3schools.com/cssref/pr_background-image.asp */
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
  background-image: url("images/MainBackground.png"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
/* classes that specify div shape */
.ColumnA {
  display: block;
  height: 100%;
  width: 30%;
}

.ColumnB {
  display: block;
  height: 100%;
  width: 40%;
}
.ColumnC {
  display: block;
  height: 100%;
  width: 30%;
}
.artBox {
  height: 30%;
  width: 100%;
}
.extraBox {
  height: 70%;
  width: 100%;
}
.Row1 {
  height: 40%;
  width: 100%;
}
.Row2 {
  height: 20%;
  width: 100%;
  display: flex;
}
.Row3 {
  height: 5%;
  width: 100%;
}
.Row4 {
  height: 20%;
  width: 100%;
  display: flex;
}
.Row5 {
  height: 15%;
  width: 100%;
}
.topBox {
  height: 100%;
  width: 20%;
}
.bottomBox {
  height: 100%;
  width: 25%;
}
.wordBOX {
  height: 20%;
  width: 100%;
}

.modalRow {
  height: 50%;
  width: 100%;
  display: flex;
}

.BoxRow {
  height: 100%;
  width: 50%;
}

/* contain your images inside their parent divs */
img {
  max-height: 100%;
  max-width: 100%;
}

img2 {
  max-height: 50%;
  max-width: 50%;
}
/* use 'calc' if you have a repeating decimal like 33.3333333333333333% */
/* https://www.w3schools.com/cssref/func_calc.asp */
.smaller-img {
  max-height: calc(100% / 3);
  max-width: calc(100% / 3);
}
/* classes used to center images (or place images in top/bottom or left/right */
/* justify-content == vertical; align-items == horizontal */
.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}
.note {
  position: fixed;
  width: 20%;
  height: 10%;
  top: 15%;
  left: 22%;
}
.inventory {
  position: fixed;
  width: 25%;
  height: 20%;
  bottom: 5%;
  right: 0.5%;
}

.dark-grey {
  background-color: #707070;
}
.black {
  background-color: black;
}
.blood {
  background-color: #2f0000;
}

@media only screen and (max-width: 800px) {
  .changing-image {
    content: url("images/leafeon.png");
  }
}

@media only screen and (max-width: 400px) {
  .disappear {
    display: none;
  }
}

.clickable2 {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.clickable2:hover {
  transform: scale(1.08) rotate(1deg);
}

/* modal classes */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #080808;
  opacity: 0.95;
}

/* don't cover the entire screen */
.modal-body {
  display: flex;
  width: 40%;
  height: 80%;
  background-color: #080808;
  opacity: 1;
  margin: 0;
}
.modal-body3 {
  display: block;
  width: 40%;
  height: 80%;
  background-color: #080808;
  opacity: 1;
  margin: 0;
}
.modal-body2 {
  display: flex;
  width: 95%;
  height: 80%;
  background-color: #080808;
  opacity: 1;
  margin: 0;
}

/* close button */
.close {
  color: #aaaaaa;
  position: fixed;
  top: 1%;
  right: 1%;
  font-size: 100px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #a00c0c;
  text-decoration: none;
  cursor: pointer;
}

.timer {
  width: 100%;
  height: auto;
  display: block;
}

.timer-container {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#countdown {
  position: fixed;
  top: 15%;
  right: 10%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 6rem;
  font-weight: bold;
  user-select: none;
  pointer-events: none;
}

/* all 'input' elements */
input {
  font-size: 40px;
  font-family: "Sometype Mono", monospace;
  padding: 14px 20px;
}
/* only the text 'input' elements */
input[type="text"] {
  color: grey;
  border: none;
  width: 50%;
  margin: 8px;
}
/* only the text 'submit' element */
input[type="submit"]:hover {
  cursor: pointer;
}
